@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
    --cor-principal: #0A3871;
    --cor-hover: #3e90f3;
    --cor-paragrafo-saida: #495057;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 80vh;
    box-sizing: border-box; /* Mantém todo o conteúdo dentro do body*/
    flex-wrap: wrap; /* Muda o tamanho dos itens conforme o dimensionamento da tela */
    background-color: #F3F5FC;
    font-family: var(--fonte-principal);
}

main {
    margin: 40px;
    display: flex;
    justify-content: space-between; /* Espaçamento */
    height: 100%;
    gap: 80px; 
}

.container__entrada {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 3rem;
    width: 7.5rem;
}

.container__entrada__conjunto {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 200px;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--cor-principal);
}

.mensagem__aviso {
    display: flex;
    align-items: center;
    color: #495057;
    gap: 8px;
    font-size: 0.75rem;
    margin: 16px 0;
}

button {
    border: 1px solid var(--cor-principal);
    height: 67px;
    width: 100%;
    text-align: center;
    border-radius: 24px;
    font-size: 1rem;
    color: var(--cor-principal);
    background-color: transparent;
    padding: 24px;
    margin-bottom: 32px;
}

.container__botoes__iniciais {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 28px;
}

.botao__criptografar {
    color: white;
    background-color: var(--cor-principal);
}

.container__saida {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 27%;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px;
}

/* colado aqui */


.container__saida__limpo {
    height: 100%;
    align-content: center;
    text-align: center;
}

.desenho__pessoa {
    max-width: 100%;
    height: auto;
}

.mensagem__nao__encontrado {
    font-weight: bold;
    font-size: 1.5rem;
    color: #343A40;
    margin-top: 32px;
}

.paragrafo__mensagem {
    font-size: 1rem;
    color: var(--cor-paragrafo-saida);
    margin-top: 16px;
}

.container__saida__mensagem {
    height: 85%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}

.mensagem__saida {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: var(--cor-paragrafo-saida);
    overflow-y: auto;
    word-wrap: break-word;
}

.botao__copiar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    min-height: 67px;
    margin-top: 32px;
}

footer {
    font-family: var(--fonte-principal);
    padding: 24px;
    color: var(--cor-principal);
    text-align: center;
    font-size: 1rem;
}

button:hover {
    background-color: var(--cor-hover);
}

@media (max-width: 1000px) {
    body {
        height: auto;
    }

    main {
        flex-direction: column;
        margin: 30px;
        gap: 64px;
    }

    button {
        margin-bottom: 0px;
    }

    .container__entrada {
        width: 100%;
        height: 55%;
    }

    .container__entrada__conjunto {
        margin-left: 0px;
    }

    textarea {
        height: 532px;
    }

    .container__saida {
        height: 40%;
        width: 100%;
    }

    .desenho__pessoa {
        display: none;
    }

    .mensagem__nao__encontrado {
        margin-top: 0px;
    }

    .mensagem__saida {
        height: 75%;
    }

    .botao__copiar {
        max-width: 500px;
    }
}

@media (max-width: 600px) {
    textarea {
        height: 237px;
    }

    .container__botoes__iniciais {
        flex-direction: column;
    }
}